# IDEs
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Gradle
.gradle/
build/
*/build/
bin/

# Android
local.properties
capture/
.externalNativeBuild
.cxx
*.apk
*.aar

# OS
.DS_Store
Thumbs.db

# Project specific
ChallengeCRM/local.properties
ChallengeBackend/.gradle/
ChallengeBackend/build/
apk/
